name: CI - Build and Push Docker Image

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/user-service:${{ github.sha }} .

    - name: Push Docker image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/user-service:${{ github.sha }}
    
    - name: Update GitOps repo with new image
      run: |
        git clone https://x-access-token:${{ secrets.GITOPS_TOKEN }}@github.com/${{ secrets.GITOPS_REPO }}.git
        cd gitops-microservices

        sed -i "s|image: .*user-service:.*|image: danilomanmohanlal/user-service:${{ github.sha }}|" apps/user-service/deployment.yaml

        git config user.email "ci@github.com"
        git config user.name "ci-bot"

        git add .
        git commit -m "Update user-service image to ${{ github.sha }}"
        git push
